---
---
<a
    class="mb-4 flex items-center gap-0.5 hover:scale-95 duration-300"
    href="/"
>
    <svg
        class="size-5"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"/></svg>
    <span class="text-base">
        Go Home
    </span>
</a>
